* {
    margin: 0;
    padding: 0;
}

img {
    max-height: 25vh;
}

#titulo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.8vw;
    opacity: 75%;
}

.modal-body {
    font-size: 25px;
    ;
    text-align: justify;
}

.modal-title {
    font-size: 30px;
}
#avatar {
    margin-top: 10vh;
}
.card p {
    text-align: justify;
}
.card-body {
    height: 20vh;
    ;
}
.card img{
    z-index: 1;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(2);
}
.card img:hover{
    z-index:2;
}
footer nav ul{
    font-size: 2vw;
}
